@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
/* Add this to your CSS file */
.banner-with-tip {
  position: relative;
  background: linear-gradient(to right, #fde68a, #f97316);
  color: white;
  padding: 12px 24px;
  width: 20%;
  text-align: center;
  font-weight: bold;
  font-size: 0.875rem; /* This is equivalent to text-sm in Tailwind */
}

.banner-with-tip::before {
  content: "";
  position: absolute;
  left: 100%;
  top: 0;
  border-left: 20px solid transparent;
  border-top: 20px solid #f97316; /* Match the darkest color of the gradient */
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-slideUp {
  animation: slideUp 0.8s ease-out forwards;
}
.menu-enter {
  opacity: 0;
  transform: translateY(-10px);
}

.menu-enter-active {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 300ms, transform 300ms;
}

.menu-exit {
  opacity: 1;
}

.menu-exit-active {
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 300ms, transform 300ms;
}


